<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/granite-c3/granite-c3.html">

<dom-module id="boelu-dashboard">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-card {
                padding: 8px;
                margin: 8px;
            }

            granite-c3 {
                width: 100%;
                height: 500px;
            }

            .fullwidth {
                display: block;
            }

            .fail {
                color: red;
            }

            .data-row {
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .data-row:not(:nth-last-child(2)) {
                border-bottom: 1px solid lightgray;
            }

            .data-date {
                width: 150px;
                display: inline-block;
            }
        </style>

        <paper-card class="fullwidth">
            <h1>Dashboard</h1>    
        </paper-card>
        <paper-card class="fullwidth">
            <h2>Durchschnittliche Preise</h2>
            <granite-c3 id="price-overview"></granite-c3>
        </paper-card>
        <paper-card>
            <h2>Mining Resultate</h2>
            <template is="dom-repeat" items=[[_miningResults]]>
                <div class$="[[item.class]] data-row">
                    <span class="data-date">[[item.date]]</span>
                    <span class="data-success">[[item.successText]]</span>
                </div>
            </template>
        </paper-card>
            
        <iron-ajax id="adapter" method="GET" on-response="_onResponse" on-error="_onError"></iron-ajax>

    </template>

    <script>
        class BoeluDashboard extends Polymer.Element {
            static get is() { return 'boelu-dashboard'; }

            static get properties() {
                return {
                    _miningResults: {
                        type: Array,
                        notify: true
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.$.adapter.url = "https://boelu.lhsoftware.ch/api/prices/average"
                this.$.adapter.generateRequest().type = "overview";
                this.$.adapter.url = "https://boelu.lhsoftware.ch/api/mine/results"
                this.$.adapter.generateRequest().type = "mine-results"
            }

            _onResponse(e) {
                if (e.detail.type == "overview") {
                    this._createPriceOverviewChart(e.detail.response);
                }
                else if (e.detail.type == "mine-results") {
                    this._createMiningResultsChart(e.detail.response);
                }
            }

            _createMiningResultsChart(data) {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].success == false) {
                        data[i].class = "fail";
                        data[i].successText = "Fehlgeschlagen";
                    }
                    else {
                        data[i].class = "";
                        data[i].successText = "Erfolgreich";
                    }
                }
                this._miningResults = data;                
            }

            _createPriceOverviewChart(data) {
                this.$["price-overview"].data = {
                    json: data,
                    keys: {
                        x: "date",
                        value: ["priceTo", "priceFrom"]
                    },
                    names: {
                        priceTo: "ZRH -> RIX",
                        priceFrom: "ZRH <- RIX"
                    },
                    type: "bar"
                };
                this.$["price-overview"].axis = {
                    x: {
                        type: "category",
                        tick: {
                            rotate: -90,
                            multiline: false
                        },
                        height: 100
                    }
                };
            }
        }

        window.customElements.define(BoeluDashboard.is, BoeluDashboard);
    </script>
</dom-module>