<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../boelu-dashboard/boelu-dashboard.html">

<dom-module id="boelu-main">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <boelu-dashboard></boelu-dashboard>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BoeluMain extends Polymer.Element {
      static get is() { return 'boelu-main'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(BoeluMain.is, BoeluMain);
  </script>
</dom-module>